@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans100italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans300italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans500italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans700italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('./museoSans/museoSans900italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

body {
  -webkit-font-smoothing: antialiased;
}
