@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-100italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-300italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-500italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-700italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src:  url('./museo_sans_cyrl/museosans-900italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
